
.navbar-color{
        padding:20px;
      }
      .nav-text{
        color:black;
        font-family:Georgia;
        font-size:16px;
        margin-left:10px;
        font-weight:1100;
      }
      .signin-signup{
        margin-left:30px;
      }
      .btn-primary{
      background:#13d1cb;
        color:#fff;
        font-weight:1000;
        font-size:15px;
        padding:10px 20px;
        border-radius:5px;
        border:0px;
      }
      .rounded-circle{
      width:60px;
      height:60px;
      box-shadow:3px;
      }
      .content{
        margin-top:5%;
        margin-left:5%;
        color:black;
        max-width:500px;
      }
      .content h1{
        font-size:40px;
        font-weight:600;
        line-height:50px;
        margin-bottom:20px;
      }
      .content form{
        display:flex;
        align-items:center;
        background:#fff;
        border-radius:5px;
        padding:10px;
        margin-top:30px;
      }
      .content form input{
        border:0;
        outline:0;
        width:100%;
        font-size:15px;
        padding-left:10px;
      }
      .content form button{
        background:#13d1cb;
        color:#fff;
        font-weight:600;
        font-size:15px;
        padding:10px 30px;
        border-radius:5px;
        border:0px;
      }
.web_name{
    color:black;
    font-family:Georgia;
    font-size:20px;
    margin-left:10px;
    font-weight:600;
    }